// Body

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #D73F22 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1312px
);

//custom
$color-main: #CFCFCF;
$color-red-main: #D73F22;
$code-color-1: #5B5B5B;
$grid-gutter-width: 32px;
$color-title-main: #282828;
$color-title: #616161;
$color-title-text: #969696;
$bg-main-1: #F8F8F8;
$bg-main-2: #FBE7E3;
$color-title-1: #5E5E5E;
$color-text: #808080
