body.is-message{
  background: #E6E6E6;
  &.overflow {
      &::before {
          height: 100vh;
      }
  }
}
#message-layout-main {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1038;
  header#header {
      margin-bottom: 0;
      padding-top: 8px;

      .wrap-header {
          box-shadow: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
      }
  }

  .wrap-message-main {
      background: $bg-main-1;
      height: 100vh;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      // margin-top: -40px;
      overflow:hidden;
  }

  .wrap-message-component {
      display: flex;
      height: 100%;
      .drager_left{
          max-width: 450px!important;
          padding-right: 0!important;
          min-width: 150px;
      }
      .drager_right{
          min-width: calc(100% - 450px);
      }
      .slider_col{
          width: 5px!important;
          background: transparent!important;
          margin: 0 -2.5px!important;
          &::before, &::after{
              display: none;
          }
      }
      .list-user {
          width: 100%;
          padding: 0 5px 0 8px;
          background: #FFFFFF;
          height: 100%;
          //flex: 0 0 31.640625%;
          //max-width: 31.640625%;
          flex: 0 0 405px;
          max-width: 405px;
          .title-message {
              font-size: 24px;
              color: $color-title-main;
              font-weight: 700;
              line-height: calc(32 / 24);
              display: flex;
              align-items: center;
              padding: 24px 16px;
              white-space: nowrap;
              .number-online{
                  width: 24px;
                  height: 24px;
                  background: $color-red-main;
                  border-radius: 24px;
                  font-size: 12px;
                  color: #FFFFFF;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-left: 8px;
                  font-weight: 400;
              }
          }

          .box-search {
              margin: 0 16px;
              padding-bottom: 24px;
              position: relative;
              input {
                  width: 100%;
                  background: #E6E6E6;
                  border-radius: 40px;
                  min-height: 40px;
                  padding: 8px 12px 8px 40px;
                  border: none;
                  &::placeholder{
                      color: #c1c1c1;
                  }
              }

              .icon-search {
                  position: absolute;
                  left: 13px;
                  top: 9px;
                  line-height: 1;
              }
          }
          .scroll-list{
              overflow: hidden;

          }
          .list-item-user{
              overflow-y: scroll;
              overflow-x: unset;
              height: 100%;
              padding-bottom: 20px;
              transition: all .3s;
              &::-webkit-scrollbar {
                  width: 3px;
                  border-radius: 3px;
                  transition: all .3s;
              }
              &::-webkit-scrollbar-track {
                  background: transparent;
                  border-radius: 3px;
                  transition: all .3s;
              }
              &::-webkit-scrollbar-thumb {
                  background: transparent;
                  transition: all .3s;
              }
              &:hover{
                  transition: all .3s;
                  &::-webkit-scrollbar {
                      width: 3px;
                      transition: all .3s;
                  }
                  &::-webkit-scrollbar-track {
                      background: #f1f1f1;
                  }
                  &::-webkit-scrollbar-thumb {
                      background: $color-red-main;
                  }
              }
              .component-item{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding: 24px 16px;
                  cursor: pointer;
                  border-radius: 8px;
                  transition: all .3s;
                  &.is-active, &:hover{
                      background: #E6E6E6
                  }
                  .box-main-item {
                      display: flex;
                      align-items: center;
                      width: 100%;
                      .box-image {
                          width: 64px;
                          height: 64px;
                          min-width: 64px;
                          border-radius: 100%;
                          overflow: hidden;
                          margin-right: 24px;

                          img {
                              height: 100%;
                              width: 100%;
                          }
                      }

                      .content {
                          width: calc(100% - 88px);

                          .name {
                              font-size: 16px;
                              font-weight: 700;
                              color: $color-title-main;
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              margin-bottom: 8px;
                              width: 100%;
                              overflow: hidden;
                              white-space: nowrap;
                              text-overflow: ellipsis;

                              .count-date {
                                  font-size: 16px;
                                  font-weight: 400;
                                  color: $color-text;
                              }
                          }

                          .text-less {
                              width: 100%;
                              overflow: hidden;
                              white-space: nowrap;
                              text-overflow: ellipsis;
                          }
                      }
                  }
                  &.is-view {
                      padding-right: 0;
                      .box-main-item {
                          width: calc(100% - 61px);
                          .content {
                              .name {
                                  .count-date {
                                      font-weight: 700;
                                      color: $color-title-main;
                                  }
                              }

                              .text-less {
                                  font-weight: 700;
                                  color: $color-title-1;
                              }
                          }
                      }
                      .count-message {
                          min-width: 45px;
                          width: 45px;
                          height: 24px;
                          font-size: 12px;
                          font-weight: 400;
                          color: #FFFFFF;
                          background: $color-red-main;
                          border-radius: 40px;
                          margin-left: 16px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                      }
                  }
              }
          }
      }
      .form-chat{
          position: relative;
          width: 100%;
          padding: 0 16px;
          .box-avatar-message{
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
              border-radius: 16px;
              background: $bg-main-1;
              padding: 12px 16px;
              display: flex;
              align-items: center;
              position: absolute;
              top: 8px;
              left: 24px;
              right: 24px;
              z-index: 2;
              //transition: all .3s;
              .box-image{
                  img{
                      border-radius: 100%;
                  }
              }
              .content{
                  margin-left: 16px;
                  .name{
                      font-weight: 700;
                      color: $color-title-main;
                      margin-bottom: 4px;
                  }
                  .online{
                      font-size: 14px;
                      color: #108043;
                      //padding-left: 12px;
                      position: relative;
                      display: flex;
                      align-items: center;
                      &::before{
                          content: "";
                          width: 8px;
                          height: 8px;
                          border-radius: 100%;
                          background: #108043;
                          margin-right: 4px;
                          display: block;
                      }
                  }
              }
              &.v-enter-active,
              &.v-leave-active {
                  transition: opacity 0.4s ease;
              }

              &.v-enter-from,
              &.v-leave-to {
                  opacity: 0;
              }
          }
          .box-live-chat{
              height: calc(100% - 72px);
              overflow-y: scroll;
              margin-right: -7px;
              padding-right: 4px;
              padding-top: 90px;
              &::-webkit-scrollbar {
                  width: 3px;
                  border-radius: 3px;
                  transition: all .3s;
              }
              &::-webkit-scrollbar-track {
                  background: transparent;
                  border-radius: 3px;
                  transition: all .3s;
              }
              &::-webkit-scrollbar-thumb {
                  background: transparent;
                  border-radius: 3px;
                  transition: all .3s;
              }
              &:hover{
                  transition: all .3s;
                  &::-webkit-scrollbar {
                      transition: all .3s;
                  }
                  &::-webkit-scrollbar-track {
                      background: transparent;
                  }
                  &::-webkit-scrollbar-thumb {
                      background: $color-red-main;
                  }
              }
              .chat-live-me{
                  display: flex;
                  padding-bottom: 4px;
                  .box-avatar{
                      width: 24px;
                      height: 24px;
                      min-width: 24px;
                      border-radius: 24px;
                      margin-right: 8px;
                      img{
                          width: 100%;
                          height: 100%;
                      } }
                  .textarea-content {
                      background: #E6E6E6;
                      border-radius: 8px;
                      padding: 8px;
                      word-break: break-all;
                      max-width: calc(50% - 30px);
                      white-space: pre-line;
                  }
                  &:not(.user-message){
                      justify-content: flex-end;
                      .textarea-content{
                          background: $color-red-main;
                          color: $bg-main-2;
                      }
                  }
                  &.user-message{
                      .textarea-content {
                          max-width: calc(50% - 30px);
                      }
                      &:not(.is-time){
                          .box-avatar{
                              img{
                                  display: none;
                              }
                          }
                      }
                  }
                  &.is-time{
                      padding-top: 16px;
                  }
              }
          }
          .form-input-chat {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              padding: 12px 16px;
              background: $bg-main-1;
              .form-control{
                  width: 100%;
                  min-height: 48px;
                  background: #E6E6E6;
                  padding: 12px 50px 12px 12px;
                  border-radius: 8px;
                  border: none;
                  transition: all 0.2s ease;
                    resize: none;
                    max-height: 150px;
                    overflow: auto;
                    &::-webkit-scrollbar {
                        width: 3px;
                        border-radius: 3px;
                        transition: all .3s;
                    }
                    &::-webkit-scrollbar-track {
                        background: transparent;
                        transition: all .3s;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #c1c1c1;
                        transition: all .3s;
                    }
              }
              .btn-submit{
                  position: absolute;
                  width: 48px;
                  height: 46px;
                  border: none;
                  background: transparent;
                  bottom: 12px;
                  right: 16px;
                  font-weight: 700;
                  color: $color-title-1;
                  padding: 0;
                  transition: all .3s;
                  &:not([disabled]):hover{
                      color: $color-red-main;
                      transition: all .3s;
                  }
              }
          }
      }
  }
}

@media (max-width: 1024px) {
  body.is-message {
    #message-layout-main {
        position: unset;
        header#header{
            .wrap-header{
                transition: all .3s;
            }
            &.header-sticky{
                .wrap-header{
                    box-shadow: 0px 8px 16px rgba(40, 40, 40, 0.25);
                    border-radius: 24px;
                    transition: all .3s;
                }
            }
        }
    }
}
}
@media (max-width: 991px) {
  #message-layout-main {
    .wrap-message-component {
        .list-user {
            flex: 0 0 300px;
            max-width: 300px;
            .title-message{
                font-size: 18px;
                padding: 16px;
            }
            .list-item-user {
                .component-item {
                    .box-main-item {
                        .box-image {
                            margin-right: 10px;
                        }
                        .content {
                            width: calc(100% - 74px);
                        }
                    }
                }
            }
        }
        .form-chat{
            .box-live-chat{
                .chat-live-me{
                    .textarea-content{
                        max-width: 85%;
                    }
                    &.user-message{
                        .textarea-content{
                            max-width: 85%;
                        }
                    }
                }
            }
        }
    }
}
}
@media (max-width: 768px) {
  
  #message-layout-main {
    &>main#main{
      &>.container{
        padding-left: 0;
        padding-right: 0;
      }
    }
    .wrap-message-component {
        overflow: hidden;
        position: relative;
        .list-user {
            flex: unset;
            max-width: 100%;
            overflow: hidden;
            transition: all .38s;
            .list-item-user{
                .component-item{
                    padding: 16px 12px;
                    .box-main-item {
                        .box-image {
                            width: 48px;
                            height: 48px;
                            min-width: 48px;
                        }
                        .content {
                            width: calc(100% - 58px);
                            .name {
                                font-weight: 400;
                                margin-bottom: 2px;
                            }
                            .text-less {
                                font-size: 14px;
                            }
                        }
                    }
                    &.is-view{
                        .box-main-item {
                            width: calc(100% - 53px);
                            .content {
                                .name {
                                    font-weight: 700;
                                }
                            }
                        }
                        .count-message{
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
        .form-chat{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #FFFFFF;
            height: 100%;
            transition: all .4s;
            transform: translateX(100%);
            .box-avatar-message {
                box-shadow: none;
                border-radius: 0;
                padding: 12px 16px 12px 10px;
                top:0;
                left: 0;
                right: 0;
                .back-preview-mobile{
                    width: 20px;
                    height: 20px;
                    min-width: 20px;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 2px;
                    svg{
                      width: 20px;
                      path{
                        fill: $color-red-main;
                      }
                    }
                }
            }
            .box-live-chat{
                .chat-live-me{
                    .textarea-content{
                        max-width: 85%;
                    }
                    &.user-message{
                        .textarea-content{
                            max-width: 85%;
                        }
                    }
                }
            }
        }
        &.active-preview-mobile{
            .list-user{
                transform: translateX(-100%);
                transition: all .38s;
            }
            .form-chat{
                transition: all .4s;
                transform: translateX(0);
            }
        }
    }
  }
}
@media (max-width: 375px) {
  #message-layout-main{
    .wrap-message-component{
        .form-chat{
            .box-avatar-message{
                .box-image img{
                    width: 36px;
                    height: 36px;
                }
                .content {
                    margin-left: 10px;
                    .name{
                        font-size: 14px;
                        line-height: 1.1;
                    }
                    .online{
                        font-size: 12px;
                    }
                }
            }
            .box-live-chat{
                .chat-live-me{
                    .textarea-content{
                        max-width: 100%;
                        font-size: 14px;
                    }
                    &.user-message .textarea-content{
                        max-width: 100%;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
}
