
@media (min-width: 1080px) {
  ::-webkit-scrollbar {
    width: 10px;
    //border-radius: 3px;
    transition: all .3s;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    transition: all .3s;
  }
  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    transition: all .3s;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}
*{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: $color-text;
  word-break: break-word;
}

p {
  margin-bottom: 0px;
}

ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0;
  li{
    line-height: 1;
  }
}

.mh-auto {
  min-height: auto !important;
}

.mw-auto {
  min-width: auto !important;
}
.height-auto{
  height: auto!important;
}
img {
  max-width: 100%;
  object-fit: cover;
  transition: all .4s;
}
a{
  display: inline-block;
  &:hover{
    color: $color-red-main!important;
    text-decoration: unset;
  }
}
i{
  font-style: unset;
}


main.overflow {
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
  box-shadow: none !important;
  outline: none;
}
textarea { resize: vertical; }
.box-image{
  position: relative;
  overflow: hidden;
}
.color-main{
  color: $color-red-main!important;
}
.font-bold{
  font-weight: 700;
}
.color-title{
  color: $color-title-main;
}
//
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border:1px solid transparent;
  min-height: 40px;
  opacity: 1;
  transition: all .3s;
  &:hover{
    transition: all .3s;
  }
  &.btn-border-gray{
    border-color: $color-text;
    padding-left: 20px;
    padding-right: 20px;
    color: $color-text;
    &.height-32{
      min-height: 32px;
      border-radius: 32px;
    }
    &:hover{
      border-color: $color-red-main;
      color: $color-red-main!important;
    }
  }
  &.btn-color-main{
    background: linear-gradient(180deg, #FF7A61 0%, #D73F22 100%);
    border: none;
    color: $bg-main-2!important;
    &:hover{
      background: linear-gradient(180deg, $color-red-main 0%, $color-red-main 100%);
      color: $bg-main-2!important;
    }
    &:disabled{
      background: #9F9F9F;
      color: #C1C1C1!important;
    }
  }
  &.btn-border-color-main{
    border:1px solid $color-red-main;
    color: $color-red-main;
    background: transparent;
    i{
      color: $color-red-main;
    }
    &:hover{
      background: $bg-main-2;
      i{
        color: $color-red-main;
      }
    }
    *{
      color: $color-red-main!important;
    }
  }
  &.btn-color-gray{
    background: $bg-main-1;
    border: none;
    color: $color-text;
    &:hover{
      background: linear-gradient(180deg, #FF7A61 0%, #D73F22 100%);
      border-color: $color-red-main;
      color: #FFFFFF!important;
    }
  }
  &.pending, &.sent, &.received{
    border-radius: 40px;
    padding: 4px 24px;
    min-width: 120px;
    min-height: 32px;
    height: 32px;
    font-size: 16px;
  }
  &.pending{
    background: #FCEBDB;
    color: #C05717;
  }
  &.sent{
    background: #E3EBFF;
    color: #2459E2;
  }
  &.received{
    background: #E3F1DF;
    color: #108043;
  }
}
