<template>
  <div class="wrap-message-component" :class="{ 'active-preview-mobile': backPreviewMobile }">
    <div class="list-user">
      <h2 class="title-message" ref="titleLeft">メッセージ <span class="number-online">{{ arrayMessage.length }}</span></h2>
      <div class="box-search" ref="boxSearchLeft">
        <input type="text" v-model="searchUser" placeholder="検索" ref="searchForm">
        <span class="icon-search"><img src="images/search-header.png" alt=""></span>
      </div>
      <div class="scroll-list" ref="boxScrollListUser">
        <div class="list-item-user" ref="listUsers">
          <template v-for="(item, index) in listUser">
            <div class="component-item" :class="{ 'is-active': item.isCurrentView, 'is-view': !item.isView}" @click="previewMessage(item.id)">
              <div class="box-main-item">
                <div class="box-image">
                  <img :src="item.avatar" alt="">
                </div>
                <div class="content">
                  <div class="name">{{item.name}} <span class="count-date">2d</span></div>
                  <div class="text-less">
                    {{item.dataMessageItem.findLast((_item) => true).isAuthor == true ? 'You: ' : ''}} {{item.dataMessageItem.findLast((_item) => true).message}}
                  </div>
                </div>
              </div>
              <div class="count-message" v-if="!item.isView">{{item.countUnReadMess}}+</div>
            </div>
          </template>
        </div>
      </div>
    </div>
    <div class="form-chat">
      <Transition>
        <div class="box-avatar-message">
          <div class="back-preview-mobile" v-if="backPreviewMobile" @click="changeMessPreviewMobile()">
            <fa :icon="['fas', 'angle-left']" />
          </div>
          <div class="box-image">
            <img width="48" height="48" :src="filterMessageActive[0].avatar" alt="">
          </div>
          <div class="content">
            <div class="name">{{ filterMessageActive[0].name }}</div>
            <div class="online">Online</div>
          </div>
        </div>
      </Transition>
      <div class="box-live-chat" ref="boxMessage">
        <template v-for="(item, index) in filterMessageActive[0].dataMessageItem">
          <div class="chat-live-me" :class="{ 'user-message': (item.isAuthor != true), 'is-time': getAllBefore(index)}">
            <div class="box-avatar" v-if="item.isAuthor != true">
              <img width="24" height="24" :src="item.avatar" alt="">
            </div>
            <div class="textarea-content">{{ item.message }}</div>
          </div>
        </template>
      </div>
      <div class="form-input-chat">
        <textarea name="" id="" rows="1" v-model="dataMessage"  @keydown.enter.exact="submitMessage()" class="form-control" ref="inputMessage" placeholder="メッセージを入力"></textarea>
        <button type="submit" class="btn btn-submit" @click="submitMessage()" :disabled="!this.dataMessage">送信</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "messageComponent",
  data(){
    return {
      searchUser: '',
      dataMessage: '',
      itemMessage: '',
      statusNotify: true,
      backPreviewMobile: false,
      timestamp: 0, // minus time
      listUser: [],
      arrayMessage: [

        {
          id: 1001,
          name: 'IIDA Masaharu',
          avatar: '/images/avatar-message.png',
          data: '',
          isView: true,
          isCurrentView: true,
          updateAt: '',
          countUnReadMess: 0,
          dataMessageItem: [
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet consectetur. Venenatis blandit feugiat urna sit. Et ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '',
              time: 1
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet consectetur. Venenatis blandit feugiat urna sit. Et ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '/images/avatar-message.png',
              time: 4
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet consectetur. Venenatis blandit feugiat urna sit.',
              avatar: '/images/avatar-message.png',
              time: 5
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet consectetur. Venenatis blandit feugiat urna sit.',
              avatar: '',
              time: 8
            },
          ]
        },
        {
          id: 1002,
          name: 'Mohamed Ali',
          avatar: '/images/image-about-2.png',
          data: '',
          isView: true,
          isCurrentView: false,
          updateAt: '',
          countUnReadMess: 0,
          dataMessageItem: [
            {
              isAuthor: true,
              isRead: true,
              message: 'Et ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '',
              time: 1
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '/images/avatar-message.png',
              time: 4
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet consectetur. Venenatis blandit feugiat urna sit.',
              avatar: '/images/avatar-message.png',
              time: 5
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet consectetur. Venenatis blandit feugiat urna sit.',
              avatar: '',
              time: 8
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Shift.',
              avatar: '',
              time: 9
            },
          ]
        },
        {
          id: 1003,
          name: 'John',
          avatar: '/images/avatar.png',
          data: '',
          isView: false,
          isCurrentView: false,
          updateAt: '',
          countUnReadMess: 0,
          dataMessageItem: [
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor. Et ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '',
              time: 1
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet consectetur. Venenatis blandit feugiat urna sit.',
              avatar: '/images/avatar-message.png',
              time: 5
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.',
              avatar: '',
              time: 8
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.',
              avatar: '',
              time: 8
            },{
              isAuthor: false,
              isRead: false,
              message: 'Lorem ipsum dolor sit amet urna sit.',
              avatar: '/images/avatar-message.png',
              time: 11
            },

          ]
        },
        {
          id: 1004,
          name: 'Đỗ Văn Quang',
          avatar: '/images/image-about-1.png',
          data: '',
          isView: true,
          isCurrentView: false,
          updateAt: '',
          countUnReadMess: 0,
          dataMessageItem: [
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor. Et ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '',
              time: 1
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet consectetur. Venenatis blandit feugiat urna sit.',
              avatar: '/images/avatar-message.png',
              time: 5
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.',
              avatar: '/images/avatar-message.png',
              time: 8
            },
          ]
        },
        {
          id: 1005,
          name: 'Quang Merce',
          avatar: '/images/avatar-message.png',
          data: '',
          isView: true,
          isCurrentView: false,
          updateAt: '',
          countUnReadMess: 0,
          dataMessageItem: [
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor. Et ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '',
              time: 1
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet consectetur. Venenatis blandit feugiat urna sit.',
              avatar: '/images/avatar-message.png',
              time: 5
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.',
              avatar: '',
              time: 8
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.Lorem ipsum dolor sit amet urna sit.',
              avatar: '',
              time: 8
            },
          ]
        },
        {
          id: 1006,
          name: 'Lưu Thanh Nam',
          avatar: '/images/avatar-message.png',
          data: '',
          isView: true,
          isCurrentView: false,
          updateAt: '',
          countUnReadMess: 0,
          dataMessageItem: [
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor. Et ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '',
              time: 1
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.',
              avatar: '/images/avatar-message.png',
              time: 8
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.Lorem ipsum dolor sit amet urna sit.',
              avatar: '',
              time: 10
            },
          ]
        },
        {
          id: 1007,
          name: 'Phan Thành Trung',
          avatar: '/images/avatar-message.png',
          data: '',
          isView: true,
          isCurrentView: false,
          updateAt: '',
          countUnReadMess: 0,
          dataMessageItem: [
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor. Et ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '',
              time: 1
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.',
              avatar: '',
              time: 8
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.Lorem ipsum dolor sit amet urna sit.',
              avatar: '',
              time: 8
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor. Et ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '',
              time: 11
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.',
              avatar: '/images/avatar-message.png',
              time: 17
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.Lorem ipsum dolor sit amet urna sit.',
              avatar: '',
              time: 19
            },
          ]
        },
        {
          id: 1008,
          name: 'Nguyễn Văn Minh',
          avatar: '/images/avatar-message.png',
          data: '',
          isView: true,
          isCurrentView: false,
          updateAt: '',
          countUnReadMess: 0,
          dataMessageItem: [
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor. Et ultricies natoque nunc pharetra pulvinar in dui semper ultricies. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '',
              time: 1
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.',
              avatar: '/images/avatar-message.png',
              time: 5
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.Lorem ipsum dolor sit amet urna sit.',
              avatar: '',
              time: 8
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor. Bibendum nulla ullamcorper sit est. Urna velit quis nisl vulputate nascetur eget erat donec consectetur.',
              avatar: '',
              time: 11
            },
            {
              isAuthor: false,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.',
              avatar: '/images/avatar-message.png',
              time: 17
            },
            {
              isAuthor: true,
              isRead: true,
              message: 'Lorem ipsum dolor sit amet urna sit.Lorem ipsum dolor sit amet urna sit.',
              avatar: '',
              time: 19
            },
          ]
        },
      ]
    }
  },
  watch: {
    searchUser: {
      handler: function (value){
        if (value) {
          this.listUser = this.listUser.filter((user) => {
            return user.name.toLowerCase().includes(value.toLowerCase())
          })
        } else {
          this.listUser = this.arrayMessage
        }
      },
      deep: true
    },
    dataMessage: {
      handler: function (value){
        if (value) {
          console.log(1);
          const myDiv = this.$refs.inputMessage
          this.addMultiEventListeners(myDiv, "change keydown paste", function() {
            setTimeout(function() {
                myDiv.style.cssText = "height: auto";
                myDiv.style.cssText = `height: ${myDiv.scrollHeight}px`;
            }, 0);
          });
          console.log(myDiv.offsetHeight, myDiv.scrollHeight);
          if (myDiv.scrollHeight > myDiv.offsetHeight) {
            console.log(myDiv.offsetHeight, myDiv.scrollHeight);
            setTimeout(function() {
                myDiv.style.cssText = "height: auto";
                myDiv.style.cssText = `height: ${myDiv.scrollHeight}px`;
            }, 0);
            this.$nextTick(() => {
                this.$refs.inputMessage.scrollTop = myDiv.scrollHeight
            })
          }
        }
      },
      deep: true
    },
  },
  mounted() {
    let heightTitle = this.$refs.titleLeft.offsetHeight;
    let heightFormSearchLeft = this.$refs.boxSearchLeft.offsetHeight;
    this.$refs.boxScrollListUser.style.height = `calc(100% - ${heightTitle + heightFormSearchLeft}px )`

    this.scrollHeight()
    this.getListUser(this.arrayMessage)
    this.countMessageRead
  },
  created() {
    setInterval(this.getNow, 1000)
  },
  computed: {
    filterMessageActive(){
      return this.arrayMessage.filter(item => item.isCurrentView)
    },
    countMessageRead(){
      this.arrayMessage.filter((item, index) => {
        item.countUnReadMess = item.dataMessageItem.filter(_item => !_item.isRead).length
      })
    },
  },
  methods: {
    addMultiEventListeners(el, s, fn) {
      s.split(" ").forEach(e => el.addEventListener(e, fn, false));
    },
    scrollHeight(){
      this.$nextTick(() => {
        let items = document.querySelectorAll('.box-live-chat .chat-live-me')
        let _offsetHeight = 0
        for (let i = 0; i < items.length; i++) {
          _offsetHeight += items[i].offsetHeight
        }
        this.$refs.boxMessage.scrollTop = _offsetHeight
      })
    },
    submitMessage(){
      if (this.dataMessage) {
        let data = {
          isAuthor: true,
          message: this.dataMessage,
          avatar: '',
          time: this.timestamp,
        }
        let timeCurrent = new Date()
        this.arrayMessage.filter((item) => {
          if (item.isCurrentView){
            item.updateAt = timeCurrent.getTime()
            item.dataMessageItem.push(data)
          }
        })
        this.getListUser(this.arrayMessage)
        this.arrayMessage.sort((x,y) => {
          if (x.updateAt > y.updateAt){
            return -1
          } else {
            return 1
          }
        })
        this.$refs.listUsers.scrollTop = 0
        this.$refs.inputMessage.style.cssText = "height: auto"
        this.scrollHeight()
        this.timestamp = 0
        this.dataMessage = ''

      }
      return false
    },
    getNow(){
      let timeCurrent = new Date()
      this.timestamp = Math.round((timeCurrent.getTime()) / 60000)
    },
    getAllBefore(current){
      if (current > 0) {
        let prevTime = this.filterMessageActive[0].dataMessageItem[current - 1].time
        let currentTime = this.filterMessageActive[0].dataMessageItem[current].time
        return currentTime > prevTime + 1
      }
      return false
    },
    previewMessage(currentId){
      this.arrayMessage.filter((item, index) => {
        if (item.id == currentId){
          item.isCurrentView = true
          item.isView = true
          this.scrollHeight()
          item.dataMessageItem.map(_item => (_item.isRead = true))
        } else {
          item.isCurrentView = false
        }
      })
      this.getListUser(this.arrayMessage)
      this.searchUser = ''
      this.changeMessPreviewMobile()
    },
    changeMessPreviewMobile(){
      new ResizeObserver(() => {
        let widthDevices = window.innerWidth
        if (widthDevices <= 768){
          this.backPreviewMobile = !this.backPreviewMobile
        }
      }).observe(document.body)
    },
    getListUser(data){
      this.listUser = data
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
