<template>
  <section id="message-layout-main">
    <main id="main">
      <div class="container">
        <div class="wrap-message-main">
          <message-component></message-component>
        </div>
      </div>
    </main>
  </section>
</template>

<script>
export default {
  name: 'IndexPage'
}

</script>
